.current {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.stateSquare {
  width: calc(var(--index) * 5);
  height: calc(var(--index) * 5);
  border: 2px solid var(--dark-color);
  border-radius: 5px;
}

.stateButton {
  padding: 5px;
}
