.routs__menu-title {
  margin-bottom: 10px;
}

.routs__item {
  list-style: none;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
    color: var(--darken-color);
  }
}
