* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: calc(var(--index) * 0.8);
  font-family: var(--font-family);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: calc(var(--index) * 45);
  margin: 0 auto;
}

// #root {
//     display: flex;
//     justify-content: center;
// }

// .App {
//     width: 800px;
// }
