:root {
  // base
  --font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;

  // colors
  --light-color: #ffffff;
  --darken-color: #283645;
  --dark-color: #000000;
  --red-color: #d22856;
  --green-color: #2aab6d;

  //screen
  --index: calc(1vw + 1vh);
}
