:root {
    // base
    --font-family: "Open Sans", "Arial", sans-serif;
  
    // colors
    --light-color: #ffffff;
    --darken-color: #283645;
    --dark-color: #000000;
    --red-color: #d22856;
    --green-color: #2aab6d;
  }
  
  // viewports

