.elements {
  padding-top: 50px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 20px;
}
.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--index) * 5);
  height: calc(var(--index) * 5);
  border: 2px solid var(--darken-color);
  border-radius: 3px;
  background-color: var(--red-color);
  color: var(--dark-color);
}
